*{
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box1 */

.nev-logo{
    height: 50px;
    width: 100px;
    
}
.logo{
    background-image: url("new_amazon._logojpg.jpg");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border:hover{
    border: 2px solid white;

}
.border{
    border: 2px solid transparent;
}
/* box2 */
.uf{
    font-size: 16px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.lf{
    color: aliceblue;
    font-size: 15px;
 
}
.add-icon{
    display: flex;
    
}
.add-icon{
    margin-left: 18px;
    color: cadetblue;
}
.input-box:hover{
    border: 2px solid orange;
}


/* box3 */
.nev-search{
     background-color: orange;
    display: flex;
    height: 40px;
    width: 620px;
    border-radius: 3px;
    justify-content: space-evenly;

}
.select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;

}
.input-box{
    width:100%;
    font-size: 20px;
    border:none;
}
.search-icon{
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orange;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;    
}
/* box4 */
span{
    font-size: 0.7rem;
}
/* box5 */
.nav-second{
    font-size: 15px;
    font-weight: 650;

}
/* box6 */

.nav-cart i {

    font-size: 30px;
}.nav-cart{
    font-size: 20px;
}
/* pannel */
.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white ;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-options p{
    display:inline;
    font-size: 15px;
    margin-left: 20px;

} 
.pannel-options{
    width: 70%;
    font-size: 0.9rem;
        
}
.pannel-deals{
    font-weight: 650;
    font-size: 0.9rem;
}
/* herosection */
.hero-section{
    height: 350px;
    background-image: url(box1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    

}
.hero-message{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin-bottom: 15px;    
}
.hero-message a{
    text-decoration: none;
    color:#2162A1;
}
/* shop section */
.shop-section{
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: gray;
    padding-bottom: 15px;
    padding-top: 15px;


}
.box{
    height: 350px;
    width: 22%;
    margin-top: 5px;
    background-color: white;

}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5px;
    background-color: white;
    height: 310px;
}
.box-image{
    background-size: cover;
    height: 260px;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content p{
    color: #2162A1;
 
}
.box-content h2{
    padding-top: 5px;
}
/* footer */
.footer{
    height: 900px;
    background-color: #222f3d;
}
.foot-pan1{
    height: 60px;
    background-color: #37475A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.foot-pan2{
    padding-top: 15px;
    height: 400px;
    display: block;
    justify-content: space-evenly;
     background-color:#232F3E;
     text-decoration: none;
     color: white;
     display: flex;
     
}
    

ul a{
    display: block;
    color: white;
    padding-top: 15px;
    text-decoration: none;


}
.foot-pan2 p{
    font-size: 20px;
}
.foot-pan3{
    height: 130px;
    background-color: #37475A;
    border-top:0.5px solid  white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.img-icon{
    height: 90px;
    width: 200px;
    background-image: url('amazon_logo.png1.avif');
    background-size: cover;
    
}

.foot-butt{
    height: 60px;
    width: 240px;
    background-color:#37475A ;
    display: flex;
}
.button1{
    height:50px ;
    width:120px ;
     background-color: #37475A;
     border: 1px solid gainsboro;
     color: #cccc;
}
.button2{
    height:50px;
    width: 120px;
    background-color: #37475A;
     border: 1px solid gainsboro;
     color: #cccc;
     margin-left: 10px;
     font-size: 15px;
}
.foot-pan4{
    height: 200px;
    background-color: #0f1111;
    color:white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;

}
.foot-pan4 a {
    color: #cccc;
}
.foot-end{
    height: 80px;
 
    display: flex;
    justify-content: center;
    margin: 20px;
    color: white ;
    font-size: 15px;
    
}
.foot-end a 
{
    text-decoration: none;
    color: white; 
    padding-left: 15px;
    
}


.box{
    border: #0f1111;
}
.box-img{
    height: 220px;
    width: 260px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 45px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box-img img{
    height: 100px;
    width: 100px;
}
.scrollbar{
    height:600px;
    width: 200px;
    overflow-y: auto;
    padding: 5px;
}
